

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper{
     position: absolute;
    top: -118%;
    left: -7%;
    transform: translate(-150%, -150%);
}
